.container {
  // curiosidade inspecionei o site pra encontrar a cor correta do Bradesco
  background: linear-gradient(270deg, #cc092f 40%, #b81570 90%);
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .logo {
    width: 100px;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 80px;
  }
}